misc/
document/*.aux
document/*.bbl
document/*.blg
document/*.log
document/*.tuc
document/*.pdf
document/figures/*.svg.pdf
software/bench/
software/dist/
software/modules/
software/node_modules/
software/flow-typed/
software/.ipynb_checkpoints
software/src/*/*.d
