body {
    margin: 0;
    padding: 0;
    font-family: DejaVu Sans, sans-serif;
    font-size: 10pt;
    line-height: 1.5;
    background-color: #EEE;
}

body > div {
    width: 950px;
    margin: 0 auto 25px auto;
    padding: 25px;
    background-color: #FFF;
}

.header {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #FC0;
    background-color: #333;
    color: #FFF;
}

h1 {
    max-width: 990px;
    padding: 45px 0 15px 0;
    margin: 0 auto;
    font-size: 18pt;
    font-weight: normal;
}

h2 {
    width: 990px;
    margin: 25px auto 0 auto;
    padding: 5px;
    font-size: 16pt;
    font-weight: normal;
    border-bottom: 2px solid #999;
}

h3 {
    margin: 14pt 0 6pt 0;
    font-size: 12pt;
    font-weight: normal;
}
body > div > h3:first-child {
    margin-top: 0;
}

p {
    margin: 0 0 6pt 0;
}


/* Wide insert: interactive content */

h2.wide {
    border-bottom: 0;
}

div.wide {
    width: 100%;
    margin: 0 auto 25px auto;
    padding: 25px 0;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
}

.wide-inner {
    width: 1200px;
    margin: 0 auto;
}

#content {
    line-height: 1.2;
}



/* ... */

label {
    display: block;
    margin: 4px 0;
}

textarea, input[type=text] {
    font-size: 9pt;
    font-family: monospace;
}

input[type=checkbox], input[type=radio] {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
}

sub {
    font-size: 7pt;
}

code {
    font-family: monospace;
}

pre {
    line-height: 1.2;
}

a {
    color: #666;
}
a:hover {
    text-decoration: none;
}

.cols {
    display: flex;
    flex-direction: columns;
}

/* Problem Summary*/

.problem_summary > .boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.problem_summary > .boxes > div {
    width: 25%;
}

/* Interactive system inspector */

.inspector {
    display: flex;
    flex-direction: columns;
    margin-top: 20px;
}
.inspector > .left {
    width: 640px;
    margin-right: 20px;
    padding: 0 20px 0 0;
}
.inspector > .right {
    flex: 1 1 auto;
    margin-top: -12pt;
}
.inspector > .right > .cols > .left {
    flex: 0 0 auto;
    min-width: 170px;
    padding: 0 20px 20px 0;
    margin-right: 20px;
}
.inspector > .right > .cols > .right {
    flex: 1 1 auto;
}
.inspector > .right > .rest {
    margin-top: 20px;
}


/* Info Boxes */

.info_button {
    display: inline-block;
    padding: 0;
    margin-left: 5px;
    float: right;
    text-align: center;
    vertical-align: middle;
    cursor: help;
    width: 1.1em;
    height: 1.1em;
    border: 1px solid #999;
    border-radius: 1em;
    font-size: 10pt;
    color: #999;
    line-height: 1.2;
}
.info_button:hover {
    background-color: #EEE;
    color: #666;
    border-color: #666;
}

.info_content {
    border: 1px solid #666;
    background-color: #EEE;
    width: auto;
    max-width: 390px;
    padding: 5px;
    margin: 0;
    display: none;
    position: absolute;
    font-size: 9pt;
    line-height: 1.5;
}
.info_content ul {
    margin: 0.4em 0;
    padding: 0 0 0 1.5em;
}


/* Additional widget styling */

.matrix input {
    text-align: center;
}
.matrix span {
    padding: 0 5px;
}

p.math {
    padding-left: 20px;
    padding-right: 20px;
}

.polytope_builder {
    display: flex;
    vertical-align: top;
}
.polytope_builder textarea {
    margin: 5px 5px 25px 0;
}

.state_counts {
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
}
.state_counts div {
    text-align: center;
    padding: 1px 0;
    width: 100%;
}
.state_counts.colored div.satisfying {
    background-color: #093;
}
.state_counts.colored div.undecided {
    background-color: #FFF;
}
.state_counts.colored div.nonsatisfying {
    background-color: #CCC;
}

.settings .posterior {
    margin-top: 6pt;
    padding-right: 5px;
    border-right: 6pt solid transparent;
}
.settings .posterior select {
    margin-top: -3pt;
}
.settings .posterior.colored {
    border-color: #FC0;
}

span.selected {
    color: #069;
}
span.satisfying {
    color: #093;
}
span.nonsatisfying {
    color: #666;
}

.state_view, .control_view {
    display: flex;
    vertical-align: top;
}
.state_view .summary, .control_view .summary {
    flex: 1 0 auto;
}
.state_view .predicates {
    cursor: default;
}
.state_view .predicates > span:hover {
    padding: 2px;
    margin: -2px;
    background-color: rgba(102, 0, 102 , 0.2);
}

.actions {
    height: 10em;
    overflow-y: scroll;
    padding-right: 4px;
}
.actions > div {
    display: block;
}
.actions > div:hover {
    cursor: pointer;
    background-color: #EEE;
}
.actions > div.selection {
    background-color: #EEE;
    border-right: 12pt solid #F60;
}

.supports {
    height: 8em;
    overflow-y: scroll;
    padding-right: 4px;
}
.supports > div {
    display: inline-block;
    border-right: 12pt solid transparent;
    padding-right: 2px;
    margin-right: 2px;
}
.supports > div.selection {
    background-color: #EEE;
    border-color: #09C;
}
.supports > div:hover {
    cursor: pointer;
    background-color: #EEE;
}

