body {
    margin: 0;
    padding: 0;
    font-family: DejaVu Sans, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #000;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    margin: 0 0 8px 0;
}

.header {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #069;
    background-color: #333;
    color: #FFF;
}
h1 {
    width: 1200px;
    padding: 15px 15px 5px 15px;
    margin: 0 auto;
    font-size: 19px;
    font-weight: normal;
}

#application {
    flex: 1 0 auto;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    line-height: 1.2;
}
#application h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 18px 0 8px 0;
}

.text {
    flex: 0 1 auto;
    padding: 15px 0;
    border-top: 3px solid #999;
    background-color: #EEE;
}
.text > .left {
    flex: 0 0 689px;
    padding: 5px 15px 5px 15px;
    margin: 0 15px 0 auto;
    border-right: 1px solid #999;
}
.text > .right {
    flex: 0 0 480px;
    padding: 5px 15px 5px 0;
    margin: 0 auto 0 0;
}
.text h2 {
    margin: 20px 0 10px 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}
.text h2:first-child {
    margin-top: 0;
}
.text p {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: justify;
}
.text p.quote {
    padding: 0 25px 0 15px;
    font-style: italic;
    border-left: 1px solid #999;
    margin-left: 10px;
}

u {
    text-decoration: underline;
}

label {
    display: block;
    margin: 4px 0;
}

/* Form elements */
textarea, button, input, select {
    vertical-align: center;
    display: inline-block;
    border: 1px solid #BBB;
    background-color: #DDD;
    color: #000;
}
textarea {
    overflow-wrap: normal;
    padding: 2px;
}
select {
    height: 23px !important;
}
button, input[type=button], input[type=submit] {
    height: 23px !important;
    padding: 0 8px;
}
input[type=text] {
    height: 21px !important;
    padding: 0 4px;
}
textarea, input[type=text] {
    font-size: 12px;
    font-family: monospace;
    background-color: #FFF;
}
input[type=checkbox], input[type=radio] {
    vertical-align: top;
    margin: 0 4px 0 0;
}
button:hover, button:focus, input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    border-color: #999;
}
button:disabled, input:disabled, textarea:disabled, select:disabled {
    color: #666;
}
input:invalid, textarea:invalid {
    border-color: #933;
}
.click-cycler {
    cursor: pointer;
}

/* https://stackoverflow.com/questions/1530685 */
sub {
    font-size: 9px;
    vertical-align: bottom;
}

a {
    color: #069;
}
a:hover {
    text-decoration: none;
}

.cols {
    display: flex;
}

/* Problem Setup */

.objective-terms .preview {
    color: #666;
    cursor: default;
}
.objective-terms .preview:hover {
    color: #069;
}

/* Problem Summary*/

#problem-summary > .boxes {
    display: flex;
    flex-wrap: wrap;
}
#problem-summary > .boxes > div {
    width: 25%;
}

/* Interactive system inspector */

#inspector {
    display: flex;
    margin-top: 20px;
}
#inspector > .left {
    flex: 0 0 690px;
    margin-right: 15px;
    padding: 0 15px 0 0;
}
#inspector > .left > .cols > .left {
    flex: 0 0 330px;
    margin-right: 15px;
    padding: 0;
}
#inspector > .left > .cols > .right {
    flex: 0 0 330px;
    margin-left: 15px;
}
#inspector > .right {
    flex: 0 0 auto;
    margin-top: -16px;
}
#inspector > .tabs {
    flex: 0 0 480px;
}
#inspector > .tabs > .bar {
    display: flex;
    flex-direction: row;
    border: 1px solid #BBB;
}
#inspector > .tabs > .bar div {
    flex: 1 1 auto;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}
#inspector > .tabs > .bar div.selection {
    background-color: #DDD;
}
#inspector > .tabs > .bar div.highlight {
    background-color: #933;
    color: #FFF;
}
#inspector > .tabs > .bar div:hover{
    background-color: #EEE;
}


/* Info Boxes */

.info-button {
    display: inline-block;
    padding: 0;
    margin-left: 8px;
    float: right;
    text-align: center;
    vertical-align: middle;
    cursor: help;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #999;
    border-radius: 1em;
    font-size: 12px;
    color: #999;
    line-height: 1.3;
}
.info-button:hover {
    background-color: #EEE;
    color: #666;
    border-color: #666;
}

.info-box {
    border: 1px solid #666;
    background-color: #EEE;
    width: auto;
    max-width: 390px;
    padding: 5px;
    margin: 0;
    display: none;
    position: absolute;
    font-size: 12px;
    line-height: 1.5;
}
.info-box ul {
    margin: -3px 0 5px 0;
    padding: 0 0 0 1.5em;
}
.info-box p {
    margin-bottom: 4px;
}
.info-box p:last-child {
    margin-bottom: 0;
}


/* Additional widget styling */

.plot {
    padding: 0;
    margin: 0 -15px 0 0;
    display: inline-flex;
    flex-flow: column nowrap;
}
.plot .menu {
    font-size: 11px;
    padding: 0 40px 0 5px;
    margin: 0 0 -3px 0;
    flex: 0 0 auto;
    overflow: hidden;
    text-align: right;
    color: #666;
}
.plot .menu a {
    color: #666;
    cursor: pointer;
    text-decoration: none;
}
.plot .menu a:hover {
    color: #000;
}
.plot .menu .coords {
    float: left;
}

.matrix {
    border: 0;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-radius: 12px;
    padding: 1px 3px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
}
.matrix td {
    text-align: center;
    padding: 1px;
}
.matrix input {
    text-align: center;
}

.polytope-builder {
    display: flex;
    vertical-align: top;
}
.polytope-builder textarea {
    margin: 5px 5px 25px 0;
}

.percentage-bar {
    display: flex;
    flex-direction: row;
    border: 1px solid #333;
}
.percentage-bar div {
    height: 7px;
    background-color: #FFF;
}
.percentage-bar .yes {
    background-color: #093;
}
.percentage-bar .no {
    background-color: #CCC;
}

#control-space-view {
    display: inline-block;
}

#random-space-view {
    display: inline-block;
}

#view-ctrl .highlight {
    margin: 8px 0 0 2px;
    padding-left: 6px;
    border-left: 10px solid #FC0;
}

span.yes {
    color: #093;
}
span.no {
    color: #666;
}
span.maybe {
    color: #000;
}
span.unreachable {
    color: #933;
}

#state-view {
    display: table;
}
#state-view > div {
    display: table-row;
    height: 1.4em;
}
#state-view > div > div {
    display: table-cell;
}
#state-view .label {
    text-align: right;
    padding-right: 1em;
}
#state-view .predicates {
    cursor: default;
    width: 100%;
}
#state-view .predicates > span:hover {
    padding: 2px;
    margin: -2px;
    background-color: rgba(0, 0, 0 , 0.2);
}
#state-view .selection {
    color: #069;
}

#action-view {
    height: 550px;
    overflow-y: auto;
}
#action-view > div {
    border-right: 8px solid transparent;
}
#action-view .action {
    cursor: pointer;
}
#action-view .action:hover {
    background-color: #EEE;
}
#action-view .selection {
    background-color: #EEE;
    border-color: #000;
    cursor: pointer;
}
#action-view #supports {
    padding: 5px;
    border-color: #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    max-height: 200px;
    overflow-y: auto;
}
#action-view #supports > div {
    display: inline-block;
    padding-right: 2px;
    margin-right: 2px;
    border-right: 8px solid transparent;
    cursor: default;
}
#action-view #supports > div:hover {
    background-color: #EEE;
    border-color: #09C;
}

#trace-ctrl .right {
    float: right;
}

.refinement-step {
    padding: 3px 0;
}
.refinement-step .name {
    margin: 0;
    padding: 0 0 2px 0;
    cursor: default;
}
.refinement-step .info {
    font-size: 0.8em;
    color: #333;
}

#snapshot-ctrl .right {
    float: right;
}
#snapshot-ctrl .tree .indented {
    margin-left: 4px;
    padding-left: 4px;
    border-left: 1px solid #999;
}
#snapshot-ctrl .snap {
    cursor: pointer;
    padding-top: 1px;
}
#snapshot-ctrl .snap span {
    float: right;
    color: #666;
}
#snapshot-ctrl .snap .percentage-bar {
    display: inline-flex;
    width: 100px;
    margin-left: 5px;
}
#snapshot-ctrl .snap.current {
    color: #069;
}
#snapshot-ctrl .snap.current span {
    color: #069;
}
#snapshot-ctrl .snap.selection {
    background-color: #EEE;
}

