body {
    font-family: sans-serif;
    font-size: 9pt;
    margin: 0;
    padding: 0;
}

a {
    color: #666;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

p {
    margin: 5px 0;
}

textarea {
    display: block;
}

#header {
    height: 15px;
    border-bottom: 3px solid #069;
    background-color: #333;
    margin: 0 0 15px 0;
}

.widget {
    margin: 20px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.widget > div {
    flex: 0 0 auto;
    margin-right: 20px;
}
.widget > div:last-child {
    flex: 1 1 auto;
    margin-right: 0;
}
.widget .progress {
    font-size: 12pt;
}

.viewer {
    align-items: flex-start;
    border-bottom: 1px solid #999;
}
.item {
    cursor: default;
}
.item:hover {
    color: #000;
}

.vertices {
    margin-bottom: 15px;
    color: #666;
}
.vertices .item {
    display: inline-block;
}

.halfspaces {
    display:table;
    margin-bottom:15px;
    color:#666;
}
.halfspaces .item {
    display: table-row;
}
.halfspaces .item > div {
    display: table-cell;
}
.halfspaces .item > div:nth-child(1) {
    text-align: right;
}
.halfspaces .item > div:nth-child(2) {
    text-align: center;
    padding: 0 10px;
}
.halfspaces .item > div:nth-child(3) {
    text-align: left;
}

.error {
    color: #900;
}
div.error {
    margin: 10px 0;
}

.polytope-input {
    display: flex;
}
.polytope-input > div {
    margin-left: 5px;
}
.polytope-input svg {
    display: block;
    margin-top: 5px;
}
.polytope-input textarea {
    border: 1px solid #999;
}
.polytope-input.read-only textarea {
    border: 1px solid #069;
    background-color: #EEE;
}

.matrix {
    border: 0;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-radius: 8px;
    padding: 1px 3px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
}
.widget .eq-matrix {
    margin: 0 10px 0 -10px;
}

